In [17]:
import sys
from pathlib import Path
import logging

In [18]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [19]:
try:
    import joblib
    import pandas as pd
    import numpy as np
except ImportError as e:
    logging.error(f"Erro ao importar bibliotecas: {e}")
    sys.exit(1)

In [20]:
src_path = Path("..") / "src"
sys.path.append(str(src_path.resolve()))

In [21]:
try:
    from preprocessador import processamento_teste
except ImportError as e:
    logging.error(f"Erro ao importar o módulo de processamento: {e}")
    sys.exit(1)

In [22]:
def carregar_modelo(caminho_modelo: str):
    try:
        modelo = joblib.load(caminho_modelo)
        logging.info("Modelo carregado com sucesso.")
        return modelo
    except Exception as e:
        logging.error(f"Erro ao carregar o modelo: {e}")
        return None

In [23]:
class GeradorDeDados:
    def __init__(self, seed: int = 101):
        self.seed = seed
        np.random.seed(self.seed)

    def gerar_dados_aleatorios(self, n_linhas: int) -> pd.DataFrame:
        """
        Gera um DataFrame com valores aleatórios para testar o modelo.
        """
        data = {
            'gender': np.random.choice(['Female', 'Male'], size=n_linhas),
            'age': np.random.randint(1, 81, size=n_linhas),            
            'race:AfricanAmerican': np.random.randint(0, 2, size=n_linhas),
            'race:Asian': np.random.randint(0, 2, size=n_linhas),
            'race:Caucasian': np.random.randint(0, 2, size=n_linhas),
            'race:Hispanic': np.random.randint(0, 2, size=n_linhas),
            'race:Other': np.random.randint(0, 2, size=n_linhas),
            'hypertension': np.random.randint(0, 2, size=n_linhas),
            'heart_disease': np.random.randint(0, 2, size=n_linhas),
            'smoking_history': np.random.choice(['No Info', 'never', 'former', 'current', 'not current', 'ever'], size=n_linhas),
            'bmi': np.random.uniform(10, 96, size=n_linhas),
            'hbA1c_level': np.random.uniform(3.5, 9.0, size=n_linhas),
            'blood_glucose_level': np.random.randint(80, 301, size=n_linhas)
        }
        df = pd.DataFrame(data)
        logging.info("Dados aleatórios gerados com sucesso.")
        return df

In [24]:
gerador = GeradorDeDados(seed=101)

In [25]:
n_linhas_teste = 1000
teste_dados = gerador.gerar_dados_aleatorios(n_linhas_teste)
teste_dados

2024-09-22 13:01:23,232 - INFO - Dados aleatórios gerados com sucesso.

,gender,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level
0,Male,12,0,0,1,1,1,1,0,current,56.990052,6.045020,158
1,Male,63,0,0,1,1,0,0,1,not current,19.305802,6.447587,248
2,Male,12,0,0,0,1,0,0,0,current,74.865845,6.358448,169
3,Female,26,1,0,1,0,1,1,0,former,25.427048,8.801495,275
4,Male,33,0,1,1,0,0,0,0,No Info,19.203962,5.741814,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Female,39,1,0,0,1,0,1,0,former,40.235008,8.626661,286
996,Female,72,0,1,0,0,1,0,1,ever,38.696460,3.763331,127
997,Male,13,1,1,0,1,0,0,0,former,92.965608,7.854782,167
998,Male,78,1,1,1,0,0,0,1,No Info,53.479852,5.617360,205
999,Female,3,1,0,1,0,1,0,1,not current,65.017990,7.731648,100

In [26]:
colunas_label = ['gender']  
colunas_hot = ['smoking_history']

In [27]:
try:
    teste_dados_processados = processamento_teste(dataset=teste_dados, colunas_label=colunas_label, colunas_hot=colunas_hot)
    logging.info("Dados processados com sucesso.")
except Exception as e:
    logging.error(f"Erro ao processar os dados: {e}")
    sys.exit(1)

teste_dados_processados

2024-09-22 13:01:23,293 - INFO - Dados processados com sucesso.

,gender,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,bmi,hbA1c_level,blood_glucose_level,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1,12,0,0,1,1,1,1,0,56.990052,6.045020,158,1,0,0,0,0
1,1,63,0,0,1,1,0,0,1,19.305802,6.447587,248,0,0,0,0,1
2,1,12,0,0,0,1,0,0,0,74.865845,6.358448,169,1,0,0,0,0
3,0,26,1,0,1,0,1,1,0,25.427048,8.801495,275,0,0,1,0,0
4,1,33,0,1,1,0,0,0,0,19.203962,5.741814,93,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,39,1,0,0,1,0,1,0,40.235008,8.626661,286,0,0,1,0,0
996,0,72,0,1,0,0,1,0,1,38.696460,3.763331,127,0,1,0,0,0
997,1,13,1,1,0,1,0,0,0,92.965608,7.854782,167,0,0,1,0,0
998,1,78,1,1,1,0,0,0,1,53.479852,5.617360,205,0,0,0,0,0
999,0,3,1,0,1,0,1,0,1,65.017990,7.731648,100,0,0,0,0,1

In [28]:
modelo = carregar_modelo("../modelo/modelo_completo.joblib")
if modelo is not None:
    try:
        previsoes = modelo.predict(teste_dados_processados)
        print("Previsões:", previsoes)
    except Exception as e:
        logging.error(f"Erro ao fazer previsões: {e}")
else:
    logging.error("Modelo não carregado. Não foi possível fazer previsões.")

2024-09-22 13:01:23,358 - INFO - Modelo carregado com sucesso.

Previsões: [0 1 0 1 0 0 1 1 1 1 0 1 1 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 1 1 0 1
 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 0 0 0 1 1 1 1 1 0
 1 0 1 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 1 1 1 0 1 0 1 1 1 0 0 1 1
 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1 0 0 1 1 1
 1 1 1 0 1 0 1 0 1 1 0 0 0 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1 0 1 1 0 1 1 0 1
 1 0 0 0 1 0 0 1 0 0 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1
 1 1 1 0 1 0 1 1 0 0 0 1 1 1 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 1 1 1 1 1 0 0 0
 0 1 1 0 1 0 1 1 1 0 0 0 1 0 0 1 1 1 1 1 0 0 1 0 0 1 0 0 0 1 0 0 1 1 0 0 1
 0 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1 0 0 1 0 0 1 1 0 1 0 1 1 0 1 0 0 1
 1 1 0 1 1 1 1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 1 0 1 0 1
 1 1 0 0 0 1 1 1 1 0 0 1 0 1 1 0 0 1 1 1 0 0 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0
 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 0 0 1 1 0 0
 1 0 1 0 1 1 0 1 1 0 0 0 0 0 0 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 0 0 1 0 0 0 1
 1 0 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 0 0 1 0 0 0 1 1
 1 1 0 1 1 0 1 0 1 0 1 1 0 1 1 1 0 1 1 0 0 0 1 0 1 1 1 1 0 1 0 1 0 1 1 1 1
 1 1 0 0 0 0 1 0 0 1 1 1 0 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 0 1 0
 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0
 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 0 0 0 1 1 1 1 0 1 0 0 1 1 1 0 0 1 1 0 1 0 1
 1 1 1 1 0 1 1 0 0 0 1 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 0 0 1 1 0 0 0 1 1
 1 1 0 1 1 0 1 0 1 0 0 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 0 0 1 0 1 1 1 0 1 0 1
 1 1 1 1 0 1 0 1 0 0 1 1 0 0 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 0 0 0 1 1 1 1 1
 0 0 0 1 0 0 1 1 1 0 1 1 1 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0
 1 0 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 0 1 1 0 0 1 0 1 1 1 1 1 1 1
 0 1 1 1 0 0 0 1 1 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 1 1
 0 1 1 0 1 0 0 1 0 0 0 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 0 1 1 1 0 0 1 1 1 0 1
 0 1 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 0 1 1 1 1
 1 1 0 0 1 1 1 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 1 1 0 1 0 1 0 0 1 0 1 1 0 1 1
 0]